{% extends 'home_page.html' %}

{% block content %}

<div class="container" style="width: 2000px; padding-top: 30px;">
    {% if not final_list %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        You do not have any shops to view bookings for!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    {% for obj in final_list %}
        <h3>{{obj.shop_name}}</h3><br>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Booker</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            {% if not obj.bookings %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                You do not have any bookings for this shop!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
            {% for booking in obj.bookings %}
                <tr>
                    <td>--</td>
                    <td>{{booking.booker}}</td>
                    <td>{{booking.address}}</td>
                    <td>{{booking.phone_number}}</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="bookid" value={{booking.id}}>
                            <button type="submit" class="btn btn-outline-dark btn-sm">
                                <a class="text-danger">Delete</a>
                            </button>
                        </form> 
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
          <br><br>
    {% endfor %}
</div>


{% endblock %}